# Environnements virtuels
.venv/
env/
venv/

# Caches Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de tests & couverture
.pytest_cache/
.coverage
htmlcov/

# Variables d'environnement & secrets
.env

# Configuration IDE
.vscode/
.idea/